<div class="container">
	<%= link_to("<< Back to Calculation List", {:action => 'index'}, :class => 'back-link') %>
	<h2>Change Values</h2>

	<%= form_for(:calculation, :url => {:action => 'update', :id => @calculation.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <%= f.submit "Change Values", :class => 'btn btn-success btn-lg' %>

  <% end %>
</div>