<div class="container">
	<h2>Welcome to the Anaerobic Digester Calculator</h2>



	<%= button_to "Start Calculation", calculations_new_path, 
	:method => "get", :class => 'btn btn-primary btn-lg' %>
</div>