<div class="container">
	<h3>Digestate volume & Nutrient Values</h3>
	<div class="col-lg-6">
		<div class="table-responsive">
			<table class="table table-bordered">
				<caption>All values are in tonnes</caption>
				<tr>
					<th>Feedstock</th>
					<th>Volume</th>
					<th>Nitrogen</th>
					<th>Phosphorus</th>
					<th>Potassium</th>
				</tr>
				<tr>
					<td>Placeholder</td>
					<td class="text-right">0</td>
					<td class="text-right">0</td>
					<td class="text-right">0</td>
					<td class="text-right">0</td>
				</tr>
			</table>
		</div>
	</div>
</div>