<div class="container">
	<h2>Edit Project</h2>
	<%= link_to '<< Back to Projects', {:action => 'index'}, :class => 'btn btn-primary' %>
	<%= render 'layouts/project_navigation_links' %> <br><br>


	<%= render 'form' %> 
	
</div>
