<div class="container">
	<h2>New Project</h2>

	<%= link_to '<< Back to Projects', projects_path, :class => 'btn btn-primary btn-lg' %><br>

	<h4>Enter a project name, select a Feedstock, enter tonnes available, and press calculate button</h4>

	<%= render 'form' %>

</div>
