<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-inner navbar-content-center">
			<div class="width-constraint clearfix">
				<p class="navbar-text">Anaerobic Digestion Calculator v1</p>
				<p class="pull-right navbar-text">Built using 
					<a href="http://rubyonrails.org">Ruby on Rails 4.0.2,</a> and
					<a href="http://getbootstrap.com">Bootstrap 3</a> 
			</div>
		</div>
	</div>
</div>

<!-- <div class="container">
<div class="row navbar">
  <div class="col-md-4">&copy; 2014</div>
  <div class="col-md-4">
    <ul class="nav nav-pills">
      <li><a href="#">Built Using</a></li>
      <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
      <li><a href="http://getbootstrap.com">Bootstrap 3</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="text-right">Anaerobic Digestion Calculator</h3>
  </div>
</div>
</div> -->
