<!-- dont display on small devices -->
<div class="navbar navbar-default navbar-fixed-bottom hidden-xs"> 
	<div class="container">
		<div class="navbar-inner navbar-content-center">
			<div class="width-constraint clearfix">
				<p class="navbar-text">Anaerobic Digestion Calculator v1</p>
				<p class="pull-right navbar-text">Built using 
					<a href="http://rubyonrails.org">Ruby on Rails 4.0.2,</a> and
					<a href="http://getbootstrap.com">Bootstrap 3</a> 
			</div>
		</div>
	</div>
</div>


